<!DOCTYPE html>
<html>
<head>
    <title>Simple E-Commerce</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">
            🛒 Simple E-Commerce
        </a>
<div class="ms-auto">

    {% if user.is_authenticated %}

        <span class="text-white me-3">
            Welcome, {{ user.username }}
        </span>

        <a href="{% url 'cart' %}" class="btn btn-info me-2">
            🛒 Cart
        </a>

        <a href="{% url 'wishlist' %}" class="btn btn-outline-danger me-2">
            ❤️ Wishlist ({{ wishlist_count }})
        </a>

        <a href="{% url 'my_orders' %}" class="btn btn-info me-2">
           📦 My Orders
        </a>

        <a href="{% url 'logout' %}" class="btn btn-danger">
            Logout
        </a>

    {% else %}

        <a href="{% url 'login' %}" class="btn btn-success me-2">
            Login
        </a>

        <a href="{% url 'signup' %}" class="btn btn-warning">
            Sign Up
        </a>

    {% endif %}

</div>

    </div>
</nav>
<div id="heroSlider" class="carousel slide mb-5" data-bs-ride="carousel">

    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9"
                 class="d-block w-100"
                 style="height:420px; object-fit:cover;">
        </div>

        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1498049794561-7780e7231661"
                 class="d-block w-100"
                 style="height:420px; object-fit:cover;">
        </div>

        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30"
                 class="d-block w-100"
                 style="height:420px; object-fit:cover;">
        </div>

    </div>

    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#heroSlider"
            data-bs-slide="prev">

        <span class="carousel-control-prev-icon"></span>

    </button>

    <button class="carousel-control-next"
            type="button"
            data-bs-target="#heroSlider"
            data-bs-slide="next">

        <span class="carousel-control-next-icon"></span>

    </button>

</div>

<form method="GET" class="d-flex mb-4">

    <input
        type="text"
        name="search"
        class="form-control me-2"
        placeholder="Search Products..."
        value="{{ search }}"
    >

    <button class="btn btn-primary">
        Search
    </button>

</form>
<form method="GET" class="row mb-4">

    <div class="col-md-4">

        <select
            name="sort"
            class="form-select"
            onchange="this.form.submit()">

            <option value="">Sort By</option>

            <option value="low"
            {% if sort == "low" %}selected{% endif %}>
                Price: Low to High
            </option>

            <option value="high"
            {% if sort == "high" %}selected{% endif %}>
                Price: High to Low
            </option>

            <option value="az"
            {% if sort == "az" %}selected{% endif %}>
                Name: A to Z
            </option>

            <option value="za"
            {% if sort == "za" %}selected{% endif %}>
                Name: Z to A
            </option>

            <option value="new"
            {% if sort == "new" %}selected{% endif %}>
                Newest First
            </option>

        </select>

        {% if search %}
        <input type="text" name="search" value="{{ search|default:'' }}" class="form-control" placeholder="Search Products...">
        {% endif %}

        {% if selected_category %}
        <input type="hidden" name="category" value="{{ selected_category }}">
        {% endif %}

    </div>

</form>
<div class="container mt-5">


    <h2 class="mt-4 mb-3">⭐ Featured Products</h2>

<div class="row">

{% for product in featured_products %}

<div class="col-md-3 mb-4">

    <div class="card shadow h-100">

        <img src="{{ product.image.url }}"
             class="card-img-top"
             style="height:220px; object-fit:cover;">

        <div class="card-body">

            <h5>{{ product.name }}</h5>

            <h4 class="text-success">
                ₹{{ product.price }}
            </h4>

            <a href="{% url 'product_detail' product.id %}"
               class="btn btn-primary w-100">

                View Product

            </a>

        </div>

    </div>

</div>

{% empty %}

<p>No Featured Products Available.</p>

{% endfor %}

</div>

<hr class="my-5">



    <div class="mb-4">
        
    <a href="/"
       class="btn {% if not selected_category %}btn-dark{% else %}btn-outline-dark{% endif %}">
        All
    </a>

    {% for category in categories %}

    <a href="/?category={{ category.id }}"
       class="btn {% if selected_category == category.id|stringformat:'s' %}btn-primary{% else %}btn-outline-primary{% endif %}">
        {{ category.name }}
    </a>

    {% endfor %}

    <div class="mt-4 d-flex justify-content-center">

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"
           class="btn btn-outline-primary me-2">
            ⬅ Previous
        </a>
    {% endif %}

    <span class="btn btn-dark disabled">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"
           class="btn btn-outline-primary ms-2">
            Next ➡
        </a>
    {% endif %}

</div>
    

</div>

<div class="row">

{% for product in products %}

<div class="col-md-4">

<div class="card shadow">

<img src="{{ product.image.url }}" class="card-img-top" height="250">

<div class="card-body">

<h4>
    <a href="{% url 'product_detail' product.id %}"
       class="text-decoration-none text-dark">
        {{ product.name }}
    </a>
</h4>

<p>{{ product.price }}</p>

<a href="{% url 'add_to_cart' product.id %}"
class="btn btn-success">

Add To Cart

</a>
<a href="{% url 'product_detail' product.id %}"
   class="btn btn-primary mt-2">
    View Details
</a>
<a href="{% url 'add_to_wishlist' product.id %}"
class="btn btn-outline-danger mt-2">
❤️ Wishlist
</a>

</div>

</div>

</div>

{% endfor %}

</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>